# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment files
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build folders
dist/
build/
.next/
out/

# Coverage
coverage/

# Editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp